# Python cache
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Raw HTML dumps
pagesave/
output file/

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
